<!DOCTYPE html>
<html>
  <head>
    <title>Image Prediction</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>
  <body>
    <h1>Image Prediction For Pneumonia Infection</h1>
    <form id="upload-form" enctype="multipart/form-data">
      <input type="file" id="file-input" name="file" accept="image/*" />
      <label for="file-input">Select Image</label>
      <p id="selected-file-name"></p>
      <button type="submit">Upload & Predict</button>
    </form>
    <div id="prediction-result"></div>
    <script src="../static/scripts.js"></script>
  </body>
</html>
